<%- include('partials/header'); -%>

<div class="container" style="background-color:floralwhite; margin-top:30px; text-align:center">
    <h2>
        <img src="<%= receipe.image %>" height="200px" width="200px">
        <div class="content">
            <%= receipe.name %>
        </div>
    </h2>

    <h3 style="font-family:itallic">Add Ingredient :</h3>
    
    <form action="/dashboard/myreceipes/<%= receipe._id %>" method="POST">
        <h4>Personal Information</h4>
        <div class="field">
            <label>Name:</label><br>
            <input type="text" placeholder="name" name="name" required autocomplete="off">
        </div>
        <div class="field">
            <label>Best Dish To Put In:</label><br>
            <input type="text" placeholder="best dish to make with" name="dish" required autocomplete="off">
        </div>
        <div class="field">
            <label>Quantity</label><br>
            <input type="text" placeholder="quantity" name="quantity" required autocomplete="off">
        </div>
        <div class="field">
            <button type="submit" class="btn btn-success" style="margin-top:15px;">Submit</button>
        </div>
    </form>
</div>

<%- include('partials/footer'); -%>